<div class="encabezado">
  <h1>{{ title }}</h1>
  <nav>
    <ul class="menu-horizontal">
      <li>
        <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
      </li>
      <li>
        <a routerLink="/producto" routerLinkActive="active">Productos</a>
        <ul class="menu-vertical">
          <li>
            <a routerLink="/crud-producto" routerLinkActive="active">Crud de Productos</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
