<div class="contenedor">
    <div class="titulo">
        <h1><strong>Bienvenido a Nuestro Portal de Biblioteca de Guayaquil</strong></h1>

    </div>
    <br/><br/>
    <div class="kodfun-galeri">
        <div style="background-image: url('./images/imagenesInicio/biblioteca1.jpg');" ></div>
        <div style="background-image: url('./images/imagenesInicio/biblioteca2.jpg');" ></div>
        <div style="background-image: url('./images/imagenesInicio/biblioteca3.jpg');" ></div>
    </div>
    <br/><br/>
    <div class="contenido">
        <p>Bienvenido a la Biblioteca de Guayaquil, un espacio dedicado a fomentar el conocimiento y la lectura. En nuestra plataforma, podrás acceder a una amplia colección de libros, recursos digitales y materiales educativos que cubren diversas áreas del saber. Nuestro objetivo es brindarte las herramientas necesarias para expandir tus horizontes y promover el aprendizaje continuo en nuestra comunidad.</p>
        <p>A través de nuestro portal, puedes consultar los catálogos, solicitar libros, conocer los eventos y actividades que organizamos, así como disfrutar de una experiencia interactiva y enriquecedora. Estamos comprometidos en ofrecerte un servicio de calidad que facilite el acceso a la información y promueva la cultura literaria en Guayaquil.</p>
    </div>
    <br/><br/>
    <hr/>
    <br/><br/><br/>
    <div>
        <section>
            <h2>Acerca de Nuestra Biblioteca</h2>
            <p>La Biblioteca de Guayaquil es un referente en la educación y el desarrollo cultural de la ciudad. Contamos con una extensa variedad de libros, periódicos, revistas y materiales digitales que cubren distintas áreas de conocimiento, desde literatura clásica hasta las últimas novedades en ciencia y tecnología. Además, ofrecemos un espacio ideal para el estudio, la investigación y el desarrollo personal.</p>
            <p>Nos enorgullece ser un punto de encuentro para estudiantes, profesionales y todos los que buscan ampliar su conocimiento. Nuestra misión es promover la lectura, facilitar el acceso a la información y proporcionar un entorno acogedor donde cada visitante pueda disfrutar de su experiencia literaria.</p>
        </section>
    </div>
    
</div>
<app-footer></app-footer>